<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Jank Hunter Sample"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <meta-data
            android:name="io.jankhunter.enabled"
            android:value="true" />
        <meta-data
            android:name="io.jankhunter.flush_interval_ms"
            android:value="1000" />
        <meta-data
            android:name="io.jankhunter.max_log_bytes"
            android:value="262144" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
